<div class="row">
  <div class="large-12 large-centered columns">
    <%= render "accordion" %>
  </div>
</div>

<div class="row">
  <div class="large-6 large-centered columns">
    <%= page_entries_info @statuses %>
  </div>
</div>
<div class="row">
  <div class="large-6 large-centered columns">
    <%= will_paginate @statuses, :class => "statuses" %>
  </div>
</div>

