<div class="row">
  <div class="small-6 large-centered columns">
    <div id="tag_cloud">
      <% tag_cloud Tag.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.text, tag_path(tag.text), :class => css_class %>
      <% end %>
    </div>
  </div>
</div>

