<div class="row">
  <div class="field large-3 columns">
    <%= f.collection_select :party_id, Party.order(:knesset_seats_20), :id, :name, :include_blank => true %>  
  </div>
  <div class="field large-3 columns">
    <%= f.grouped_collection_select :politician_id, Party.order(:knesset_seats_20), :politicians, :name, :id, :full_name, :include_blank => true %>  
  </div>
  <div class="field large-3 columns">
    <%= f.text_field :start_date, :class => "datepicker-dropdown", id: "startdatetimepicker" %>    
  </div>
  <div class="field large-3 columns">
    <%= f.text_field :end_date, :value => "#{Date.today.strftime("%d/%m/%Y")}", :class => "datepicker-dropdown", id: "enddatetimepicker" %>  
  </div>
</div>

