<div class="row">
  <div class="large-12 large-centered columns">
    <%= render "admin_actions" %>
  </div>
</div>
    
<!-- div class="row">
  <div class="large-12 large-centered columns">
    <%= render "parties_bar" %>
  </div>
</div -->

<div class="row">
  <div class="large-12 large-centered columns">
    <%= render "politicians_table" %>
  </div>
</div>

